<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igniva.spplitt">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--imei no-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--GCM PERMISSIONS   -->
    <!-- [START gcm_permission] -->
    <!--<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->
    <!-- [END gcm_permission] -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <permission
        android:name="com.igniva.spplitt.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.igniva.spplitt.permission.C2D_MESSAGE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--GCM PERMISSIONS END -->

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme1">
        <!--<activity
            android:name=".ui.activties.CalenderAdapter"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
       <activity
            android:name=".ui.activties.SplashActivity"
            android:label="@string/app_name"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activties.LoginOptionActivity" />
        <activity
            android:name=".ui.activties.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.OtpConfirmationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomPopUpThemeCancelableFalse" />
        <activity
            android:name=".ui.activties.UpdateEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomPopUpTheme" />
        <activity
            android:name=".ui.activties.UpdateMobileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomPopUpTheme" />
        <activity
            android:name=".ui.activties.ViewAdsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.ViewAdsDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.OtherProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.activties.AdsAppliedListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activties.CityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activties.CountryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activties.StateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.activties.TermsOfUseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomPopUpTheme" />
        <!--gps start-->
        <!--<receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.igniva.spplitt" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".utils.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.igniva.spplitt.android.gcm" />
            </intent-filter>
        </receiver>

        <service android:name=".utils.gcm.GcmMessageHandler" />-->

        <!--gps end-->

        <!-- GCM -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.igniva.spplitt" />

                <!--TO SUPPORT PRE-KITKAT DEVICES  -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igniva.spplitt.utils.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.igniva.spplitt.utils.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.igniva.spplitt.utils.gcm.RegistrationIntentService"
            android:exported="false"></service>


        <!-- GCM END-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7f13cc184549fdf0b47c81233930bfdccce27582" />
    </application>

</manifest>